* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

#top {
    width: 100%;
    height: 100%;
    background-color: #00adb5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    font-size: 4rem;
}

.subtitle {
    color: white;
    font-size: 2rem;
    text-align: center;
}

#links {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 4rem;
    height: auto;
    margin: 0 2vw;
    filter: brightness(0) invert(1);
}

.icon:hover {
    width: 4rem;
    height: auto;
    filter: brightness(0) invert(1);
    opacity: 0.75;
}

#arrow {
    height: 4rem;
    width: 4rem;
    position: absolute;
    bottom: 0;
    animation-name: example;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
}

@keyframes example {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-40px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

#bottom {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 48%;
    height: 98%;
}

.bottom-title {
    font-size: 2.5rem;
    text-decoration: underline; 
    text-decoration-color: #00adb5;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list * {
    margin-top: 4%;
    font-size: 3vh;
    color: #646464;
}

#project-list a {
    padding: 0.5rem;
    text-decoration: none;
    color: #535353;
    font-weight: bolder;
}

#project-list a:hover {
    padding: 0.5rem;
    text-decoration: none;
    color: #535353;
    background-color: #dadada;
}

#footer {
    width: 100%;
    height: 7vh;
    background-color: #00adb5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-title {
    color: white;
    font-size: 3vh;
}

@media (max-width:700px){
    #bottom{
        flex-direction: column;
    }

    .card {
        width: 95%;
    }

    #experience-list {
        margin-bottom: 2vh;
    }
}
